<div class="carrinho-container">

    <h3 class="mb-3">Carrinho de compras</h3>

    <div class="alert alert-warning" *ngIf="itens.length <= 0">
        <strong>Vazio!</strong> Nenhum item no carrinho.
    </div>

    <div class="row" *ngIf="itens.length > 0">

        <!-- Lista de itens -->
        <div class="col-12 col-md-8">
            <div class="card mb-2" *ngFor="let obj of itens">
                <div class="row g-0 item-carrinho">

                    <div class="col-4 col-sm-3">
                        <img class="img-fluid img" [src]="obj.produto.id + '.jpg'" [alt]="obj.produto.nome"
                            style="width:100%">
                    </div>

                    <div class="col-8 col-sm-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.produto.nome }}</h5>

                            <p class="card-text">
                                R$ {{ obj.produto.preco | number:'1.2-2' }}
                            </p>

                            <div class="d-flex align-items-center">
                                <button class="btn btn-sm btn-outline-secondary" (click)="diminuir(obj)">-</button>
                                <span class="mx-2">{{ obj.quantidade }}</span>
                                <button class="btn btn-sm btn-outline-secondary" (click)="aumentar(obj)">+</button>

                                <button class="btn btn-sm btn-danger ms-3" (click)="remover(obj)">remover</button>
                            </div>

                            <p class="card-text mt-2">
                                <strong>Subtotal: R$ {{ subtotal(obj) | number:'1.2-2'}}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Resumo -->
        <div class="col-12 col-md-4">
            <div class="card p-3 item-carrinho">
                <h3 class="mb-3">Resumo</h3>
                <hr>
                <p class="card-text mt-2"><strong>Total: R$ {{ calculaTotal() | number:'1.2-2' }}</strong></p>
                <button class="btn btn-success mb-2" (click)="finalizarCompra()">Finalizar Compra</button>
                <button class="btn btn-outline-danger" (click)="limparCarrinho()">Limpar Carrinho</button>
            </div>
        </div>

    </div>
</div>