.detalhes-container {
    width: 90%;
    margin: 0 auto;
}
.card-title {
    color: #ffffff;
    font-size: clamp(0.85rem, 2vw, 1.25rem);
}

.card-text {
    color: #ffffff;
    font-size: clamp(0.85rem, 2vw, 1.25rem);
}

.description {
    color: #ffffff;
    font-size: clamp(0.85rem, 2vw, 1.25rem);
    text-align: justify;
}

.valor-verde {
    color: #85e903;
    font-variant-numeric: tabular-nums;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-img {
    width: 90%;
    margin: 0 auto 0;
    aspect-ratio: 1/1;
    object-fit: fill;
    display: block;
    border-radius: 2%;
    transition: transform 0.3s ease;
}

.product-img:hover {
    transform: scale(1.03);
}

.description-card {
  border-radius: 8px;
  background-color: #212529;
}
